  @import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    width: 80rem;
    max-width: 90%;
    padding: 0;
    direction: ltr;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: auto;
    background: url(https://i.imgur.com/w1R3RGz.png);
    background-size: cover;
}

p {
  line-height: 150%;
}

h1 {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #e5eaf3;
  font-family: 'Montserrat', sans-serif;
  color: #314fa3;
}

a {
  text-decoration: none;
  color: #000;
}

.all {
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    float: right;
    margin-top: 40px;
    margin-bottom: 30px;
}

#post-body {
    padding: 2%;
    margin-bottom: 50px;
    word-wrap: break-word;
}

ul#menu-topo {
  margin: 0 auto;
  padding: 10px 0;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

ul#menu-topo li {
  display: inline;
  margin: 0;
}

ul#menu-topo li a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  text-decoration: none;
}

ul#menu-topo li a:hover {
      font-weight: bold;
}

.nav-toggle {
  display: none;
}

.footer {
    clear: both;
}

.sidebartxt {
    padding: 2%;
    margin-bottom: 50px;
    width: 15%;
    word-wrap: break-word;
}

input[type="button"] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


input[type="button"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 800px) {
   .sidebartxt {
    margin-top: 5%;
  }
  
  .nav-menu {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    table-layout: fixed;
  }
  ul#menu-topo {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #4c5c8b;
    table-layout: fixed;

    transition: all .3s ease-in;
  }
ul#menu-topo li {
    display: block;
    border-bottom: 1px solid #cdcdcd;
    line-height: 3;
    color: #000;
    background: #dedede;
}
  #menu-topo li a {
    color: #000;
  }
  ul#menu-topo li.hide {
    display: none !important;
  }
  #menu-topo li:hover {
    border-bottom: 1px solid #dedede;
    background-color: #cdcdcd;
  }
  /****TOGGLE****/
  .nav-toggle-label:before {
    color: black;
    content: '☰';
  }
  .nav-toggle:checked + ul#menu-topo {
    display: table;
    margin-left: 0;
  }
  
  ul#menu-topo li a {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 4px 0px;
    text-decoration: none;
  }
}